body {
    font-family: 'Lato', Arial, Helvetica, sans-serif;
}

.icons-social a {
	color: #1E1E1E;
}

.icons-social a svg path{
	fill: #1E1E1E;
}

.container {
	max-width: 70%;
    margin: 0px auto;
}


@media (min-width: 576px) {
	html {
		font-size: 14px;
	}
}

@media (min-width: 768px) {
	html {
		font-size: 16px;
	}
}

@media (min-width: 992px) {
	html {
		font-size: 18px;
	}
}

@media (min-width: 1200px) {
	html {
		font-size: 20px;
	}
}

.icons-social i {
	font-size: 3em;
}

/* Custom Styles */

.light {
	color: #ffffff;
}

.centered {
	display: flex;
	flex-direction: column;
	min-height: 100vh;
	justify-content: center;
	padding: 0 30px;
	text-align: center;
}

.centered .intro {
	font-size: 3.75em;
	font-weight: 600;
}

.centered .tagline {
	font-size: 1.5rem;
	margin: 1.5rem 0;
	font-weight: 100;
    /* transform: translate(21%, 0%); */
}

.icons-social i {
    padding: 10px;
    color: #565656;
    transition: all 0.3s;
}

.icons-social i:hover {
    padding: 10px;
    color: #3d3d3d;
}

.devto {
	margin-bottom: -0.20rem;
}

.devto svg {
	margin-bottom: -0.20rem;
	margin-left: 0.675rem;;
	width: 2.65rem;
	height: 2.65rem;
}

.grid-container {
	display: grid;
}
  
.Preview {
	display: grid;
	grid-area: 1 / 2 / 1 / 2;
}

.round {
	border-radius: 50px;
}

.box_shadow_strong {
	box-shadow: 0px 0px 12px 6px #00000094;
}